.test-container {
  width: 50%;
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --bg-color-alt: #7e7e7e;
  --main-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px var(--main-color); /* Elimina el borde rojo */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.instructions-container,
.results-modal {
  width: 100%;
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --bg-color-alt: #7e7e7e;
  --main-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px var(--main-color); /* Elimina la sombra verde */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.start-screen {
  width: 100%;
  min-width: 600px;
  min-height: 400px;
  --input-focus: #2d8cf0;
  --font-color: #fefefe;
  --font-color-sub: #7e7e7e;
  --bg-color: #111;
  --bg-color-alt: #7e7e7e;
  --main-color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centrar verticalmente */
  gap: 20px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px var(--main-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.start-screen:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.instructions-container:hover,
.results-modal:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.instructions-container h2,
.results-modal h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.instructions-container p,
.results-modal p {
  font-size: 16px;
  margin-bottom: 20px;
}

.start-screen button,
.instructions-container button,
.end-test-button,
.results-modal button {
  all: unset; /* Ignorar cualquier configuración previa */
  width: 80%; /* Hacer los botones más anchos */
  height: 50px; /* Aumentar la altura de los botones */
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color: var(--bg-color);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center; /* Centrar el contenido del botón */
  margin: 10px 0; /* Añadir margen vertical para separar los botones */
}

.start-screen button:hover,
.instructions-container button:hover,
.end-test-button:hover,
.results-modal button:hover {
  background-color: var(--input-focus);
}

.letters-grid {
  display: grid;
  grid-template-columns: repeat(57, 1fr);
  grid-template-rows: repeat(14, 1fr);
  gap: 5px;
  margin: 20px 0;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 4px 4px var(--main-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.letters-grid:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.letter {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
  border: 1px solid #444;
  border-radius: 5px;
  height: 30px;
  font-size: 14px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.letter.correct {
  background-color: #4caf50;
}

.letter.incorrect {
  background-color: #f44336;
}

.end-test-button {
  background-color: #ff5733;
}

.end-test-button:hover {
  background-color: #c04f2a;
}

.results-modal button {
  background-color: #2196f3;
}

.results-modal button:hover {
  background-color: #1976d2;
}

/* Nuevas clases para botones seleccionados correctamente e incorrectamente */
.letter.selected-correct {
  background-color: #4caf50 !important;
}

.letter.selected-incorrect {
  background-color: #f44336 !important;
}