body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #ffffff;
}

.game-board {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #2c2c2c; /* Fondo gris */
    border-radius: 15px; /* Esquinas redondeadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-panel {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #444;
}

.score-panel div {
    font-size: 1.2em;
}

.target-object {
    font-weight: bold;
    color: #e91e63;
}

.objects-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 70px;
    height: calc(100% - 100px);
    overflow: hidden;
}

.object {
    background-color: #333;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    color: #ffffff;
    border: 1px solid #444;
}

.object:hover {
    transform: scale(1.1);
    background-color: #444;
    color: #e91e63;
}

.start-button,
.close-button {
    all: unset; /* Ignorar cualquier configuración previa */
    width: 80%; /* Hacer los botones más anchos */
    height: 50px; /* Aumentar la altura de los botones */
    border-radius: 5px;
    border: 2px solid #ff4757; /* Borde rojo */
    background-color: #2ed573; /* Fondo verde */
    box-shadow: 4px 4px #ff4757; /* Sombra roja */
    font-size: 17px;
    font-weight: 600;
    color: #ffffff; /* Texto blanco */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Elimina la transformación */
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el contenido del botón */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-button:hover,
.close-button:hover {
    background-color: #ff6b81; /* Fondo rosa en hover */
    /* Elimina la transformación en hover */
}

.level-indicator {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 1.2em;
    color: #bbbbbb;
}

.game-over {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-over-content {
    background: #2f3542;
    padding: 40px;
    border-radius: 16px;
    text-align: center;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.puntuacion-final {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 24px 0;
    font-size: 32px;
    font-weight: bold;
}